/* General styling */

html {
    padding: 12px auto;
    margin: 12px auto;
}

* {
    margin: auto;
}


/* heading tags */

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

ul {}

ol {}

li {}


/* classes */


/* header */


/* body */


/* footer */


/* Animation */